.prices-component {
  color: white;
  border-style: solid;
  border-radius: 5px;
  border-color: transparent;

  color: black;

}

.prices-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
  background: white;
}
.distribuidor-img-container {
  width: 100%;
  height: 25%;
  background-color: red;
  align-self: flex-start;
}
.distribuidor-logo {
  max-width: 100px;
}

.distribuidor-text-container{
  background-color: blue;
  width: 100%;
  height: 10%;
}

.distribuidor-prices-container {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
