<div class="prices-component">
  <div class="prices-card">
    <div class="card-img">
      <div class="distribuidor-img-container">
        <img class="distribuidor-img" src="{{estacionActual.distribuidor.imagen}}"/>
        <img class="distribuidor-logo" src="{{ estacionActual.distribuidor.logo }}"
          alt="{{ estacionActual.distribuidor.marca }}" />
      </div>
    </div>
    <div class="distribuidor-text-container">
      {{ estacionActual.distribuidor.marca }}
    </div>

    <div class="card-details">
      <div class="distribuidor-prices-container" *ngIf="combustiblesInfo.length > 1; else cargando">
        {{estacionActual.ubicacion.latitud}} - {{estacionActual.ubicacion.longitud}} ({{estacionActual.ubicacion.nombre_comuna}})
        <mat-list *ngFor="let combustible of combustiblesInfo; let i = index">
          <mat-list-item> {{ combustible.nombre }} {{ combustible.precio | currency }}</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
    </div>

    <ng-template class="price-info" #cargando> cargando.. </ng-template>
  </div>
</div>