/* You can add global styles to this file, and also import other style files */
app-root{
    min-height: 100vh;
    background-color: rgb(142, 132, 132);
}

.map-container{
    height: 100vh;
}
body{
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
